/* body {

    background-image:  url(../../assets/Imagens/background.png);
    
} */

#teste{
    z-index: -1;
    opacity: 0.5;
}
div.box{
      
    z-index: 3;
    border: 1px solid #C5C5C5;
     /* margin-top: 2%; */
    /* background-color: white; */
    width: 487px;
    height: 642px;
    
}
.logo {

    margin-top: 10%;
}
.login{
    margin-bottom: 8%;
    margin-left: 43%;
}
.botao{
    margin-bottom: 10%;
}
#cadastre{
    text-decoration: none;
    color:  #555555;
    margin-left: 40%;
}