body {
    background-image: url(../../assets/Imagens/background.png)
}

div.container {

    border: 1px solid #C5C5C5;
    margin-top: 50px;
     width: 25%;
    height: 500px;
    background-color: white

}

div.form{
    margin-top: 20%;
}

div.login h1{
    font-family: 'Questrial';
    text-align: center;
    font-size: 24px;
}

div.logo{
    text-align: center;
    margin-top: -10px;
}

div.cadastro p {
    margin-top: 10%;
    text-align: center;
    color: #555555;
}
