@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    height: 100%;
    width: 100%;
    background-image: url(../../assets/Imagens/background.png); 
    font-family: 'Questrial', sans-serif;
}


div.container {
    margin-top: 70px;
    border: 1px solid #C5C5C5;
    width: 30%;
    height: 80vh;
    background-color: white;
}

.logo {
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cadastro {
    margin-bottom: 20px;
}


button {
    margin-top: 10px !important;
    border-radius: 10px !important;
    background: #76BB4C !important;
    width: 70%;
    color: #000 !important;
    border: none !important;
}

div.container input{
    padding: 0;
    
}

div.container input::placeholder{
    text-align: center;
}
